<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
        link(rel="stylesheet" href="../src/fonts.scss")
        link(rel="stylesheet" href="../src/style.scss")
        title Repair Design Project
    body
        header.header
            nav.header__nav

        main.main
            section.hero
            section.portfolio
            section.control
                .control__video
                .control__form
            section.types
                h2.types__title
                .types__cards
                    .card
                        h3.card__title
                        ul.card__list
                        button.card__button
                    .card
                        h3.card__title
                        ul.card__list
                        button.card__button
                    .card
                        h3.card__title
                        ul.card__list
                        button.card__button
            section.request
                .request__stages
                .request__form
            section.presentation
                .presentation__styles
                    h2.presentation__title
                    ul.presentation__list
                .presentation__images
            section.project
                h2.project__title
                .project__description
                .project__cards
                    .card
                        h3.card__title
                        ul.card__list
                        button.card__button
                    .card
                        h3.card__title
                        ul.card__list
                        button.card__button
                    .card
                        h3.card__title
                        ul.card__list
                        button.card__button
            section.steps
            section.team
                h2.team__title
                .team__text
                .team__cards
                    .team__card
                        .team__name
                        .team__position
                        .team__button
                    .team__card
                        .team__name
                        .team__position
                        .team__button
                    .team__card
                        .team__name
                        .team__position
                        .team__button
                .team__description
            section.clients
                h2.clients__title
                .clients__text
                .clients__cards
                    .clients__card
                        img.clients__img(src="", alt="")
                        h3.clients__name
                        .clients__description
                        .clients__info
            section.contacts
                .contacts__form
                .contacts__map

        footer.footer